---
import MemberCards from '@components/MemberCards.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import projects from 'src/data/projects.json'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)
---

<BaseLayout title={`${t('title')} | Who we are?`}>
  <div class="projects">
    {
      Object.keys(projects).map((project) => (
        <MemberCards
          projectName={project}
          members={projects[project].members}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
</style>
