---
import MemberCards from '@components/MemberCards.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getProjects } from 'src/services/cms'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)

const allProjects = await getProjects()
const projects = allProjects?.docs

projects?.sort(
  (a, b) => new Date(b.date_start).getTime() - new Date(a.date_start).getTime()
)
---

<BaseLayout title={`${t('title')} | ¿Quiénes somos?`}>
  <div class="projects content">
    <h1>Nuestros equipos</h1>
    {
      projects?.map(({ name, project_members }) => (
        <MemberCards projectName={name} members={project_members} />
      ))
    }
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: 10rem;
    text-align: center;
    font-weight: 400;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
</style>
