---
import { languages } from 'src/i18n/ui'
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath
} from 'src/i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)

const route = getRouteFromUrl(Astro.url)
---

<ul>
  {
    Object.entries(languages).map(([lang, label], idx, arr) => (
      <>
        <li>
          <a
            href={translatePath(`/${route ?? ''}`, lang)}
            style={currentLang === lang ? 'font-weight: 600;' : ''}>
            {label}
          </a>
        </li>
        {idx < arr.length - 1 && (
          <li>
            <span>|</span>
          </li>
        )}
      </>
    ))
  }
</ul>

<style>
  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5px;
    text-transform: uppercase;
  }
</style>
