---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { languages } from 'src/i18n/ui'
import { getLangFromUrl } from 'src/i18n/utils'

const currentLang = getLangFromUrl(Astro.url)

// Get route withoute the language in the URL
const route = Astro.url.pathname.replace(`/${currentLang}`, '')
---

<ul>
  {
    Object.entries(languages).map(([lang, label], idx, arr) => (
      <>
        <li>
          <a
            href={getRelativeLocaleUrl(lang, route)}
            style={currentLang === lang ? 'font-weight: 600;' : ''}>
            {label}
          </a>
        </li>
        {idx < arr.length - 1 && (
          <li>
            <span>|</span>
          </li>
        )}
      </>
    ))
  }
</ul>

<style>
  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5px;
    text-transform: uppercase;
  }
</style>
