---
import MemberCard from "./MemberCard.astro";
const { year, members } = Astro.props;
---

<div class="container">
  <div class="year-container">
    <h2>{year}</h2>
    <a href="#">
      <img src="/icons/link.svg" alt="Icono de una cadena" />
    </a>
  </div>
  <ul>
    {
      members
        .sort((el) => el.isManager)
        .map((member) => <MemberCard {...member} />)
    }
    <MemberCard
      name="test"
      links={{ github: "https://github.com/Waxer59", linkedin: "#" }}
    />
    <MemberCard name="test" links={{}} />
    <MemberCard name="test" links={{}} />
    <MemberCard name="test" links={{}} />
    <MemberCard name="test" links={{}} />
    <MemberCard name="test" links={{}} />
  </ul>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 950px;
    width: 90%;
    margin: 0 auto;
  }

  img {
    width: 50px;
    height: 40px;
  }

  h2 {
    margin: 0;
    font-size: 64px;
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  .year-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
  }
</style>
