---
import MemberCard from './MemberCard.astro'
import Link from './icons/Link.astro'
const { projectName, members } = Astro.props
---

<div class="content container">
  <div class="container-projectName">
    <h2>{projectName}</h2>
    <a href={`#${projectName}`}>
      <Link />
    </a>
  </div>
  <ul class="container-members">
    {
      members
        ?.sort((el) => el.isManager)
        .map((member) => <MemberCard {...member} />)
    }
  </ul>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  h2 {
    margin: 0;
    font-size: 8rem;
    display: flex;
    align-items: center;
    font-weight: 400;
  }

  .container-projectName {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--secondary-color);
  }

  .container-projectName a:hover :global(svg) {
    transform: scale(1.1);
  }

  .container-projectName a:active :global(svg) {
    transform: scale(0.9);
  }

  .container-projectName :global(svg) {
    width: 50px;
    height: 40px;
    opacity: 0;
    transition:
      opacity 0.1s ease-in,
      transform 0.1s ease-in-out;
  }

  .container-projectName:hover :global(svg) {
    opacity: 1;
  }

  .container-members {
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(6, 1fr);
    align-items: start;
    justify-content: center;
  }

  .container-members :global(li) {
    grid-column: span 2;
  }

  @media (width <= 1200px) {
    .container-members {
      display: flex;
      flex-wrap: wrap;
    }

    :global(.card) {
      width: 250px;
    }

    .container-projectName {
      gap: 25px;
    }

    .container-projectName :global(svg) {
      width: 30px;
      height: 20px;
    }

    .container {
      gap: 50px;
    }
  }
</style>
