---
import Navbar from '@components/Navbar.astro'
import CommonHead from '../components/CommonHead.astro'
const { lang, title } = Astro.props
---

<html lang={lang}>
  <CommonHead title={title} />
  <body>
    <Navbar />
    <slot />
  </body>
</html>
