---
import Navbar from '@components/Navbar.astro'
import CommonHead from '@components/CommonHead.astro'
import Footer from '@components/Footer.astro'
const { lang, title } = Astro.props
---

<html lang={lang}>
  <CommonHead title={title} />
  <body>
    <div class="page-width">
      <Navbar />
      <slot />
    </div>
    <Footer />
    <style is:global>
      @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
        font-style: normal;
      }

      @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-Italic-VariableFont_wght.woff2')
          format('woff2');
        font-style: italic;
      }

      * {
        box-sizing: border-box;
      }

      :root {
        --primary-color: #eeeeee;
        --secondary-color: #31363f;
      }

      .dark:root {
        --primary-color: #222324;
        --secondary-color: #fff6e0;
      }

      .content {
        max-width: 950px;
        width: 90%;
        margin: 0 auto;
      }

      html {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 6px;
        scrollbar-width: 5px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span,
      a,
      svg {
        color: var(--secondary-color);
      }

      body {
        background-color: var(--primary-color);
        margin: 0;
      }

      .page-width {
        margin: 0 auto;
        max-width: 1200px;
        width: 90%;
      }

      /* width */
      ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
        border-radius: 5px;
      }

      /* Handle on hover */
      html[class='dark'] ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }

      @media (width <= 800px) {
        html {
          font-size: 5px;
        }
      }
    </style>
  </body>
</html>
